    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      .nav-wrapper {
        background-color: white;
        color:black;
        }
        
      a:link {
        color: red;
      }

      /* visited link */
      a:visited {
        color: rgb(6, 118, 88);
      }

      /* mouse over link */
      a:hover {
        color: rgb(128, 173, 223);
      }

      /* selected link */
      a:active {
        color: blue;
      }

       #wrapper {
        position:absolute;
        margin:0 auto;
        z-index:9;
        height: 100px;  
        max-width:1180px;
        padding-right:10px;
        padding-left:10px;
        color:black;
        font-size: 20px;
        font-family: 'PT Sans';
        
      }
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        position: absolute;
        z-index:9999999999;
        height: 500px;
        width:1180px;
        margin-top: 300px;
        margin-right: 500px;
        border: 8px double black;
        
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url(/static/img/diamond_upholstery.png)
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 300ms;
        visibility: hidden;
        opacity: 0;
      }
      .overlay:target {
        visibility: visible;
        opacity: 1;
      }
      
      .popup {
        margin-left: 400px;
        margin-top:20px;
        padding: 30px;
        background: black;
        color:white;
        border-radius: 5px;
        width: 30%;
        font-size:30px;
        position: absolute;
        transition: all 3s ease-in-out;
        z-index:9999999999999999999999;
      }
      
      .popup h2 {
        margin-top: 0;
        color: #cdcdcd;
        font-family: PT Sans;
      }
      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }
      .popup .close:hover {
        color: #06D85F;
      }
      .popup .content {
        font-size:14px;
        max-height: 30%;
        overflow: auto;
      }
      
      @media screen and (max-width: 700px){
        .box{
          width: 70%;
        }
        .popup{
          width: 70%;
        }
      }